html {
	position: relative;
	min-height: 100%;
}

body {
	/* Move down content because we have a fixed navbar that is 50px tall */
	padding-top: 50px;
	/* Margin bottom by footer height */
	margin-bottom: 3em;
}

.jumbotron h1 {
	margin-top: 0;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 3em;
	text-align: center;
}

footer hr {
	width: 80%;
	margin: 0 auto 10px;
}

.container img {
	margin-top: 20px;
}

.container img.logo {
	margin-top: 30px;
}

.container .row {
	margin-top: 10px;
}

.no-left-padding {
	padding: 0;
}

.col-md-7 h2, .col-md-5 h3 {
	margin-top: 0;
}

.gutter-right {
	margin-right: 1em;
	padding-left: 0;
}